*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-weight: bold;

}
body {
    background: radial-gradient(circle, #ffffff, #d0d0d0, #a3a3a3, #787878, #505050);
    height: 100vh;
    width: 100vw;
}

.calculator{
    background-image: linear-gradient(to right top, #ffffff, #d0d0d0, #a3a3a3, #787878, #505050);
    border-radius: 24px;
    padding: 1em;
    border: 2px solid black;
    width: 30%; /*xchnage this to 30%*/ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media (max-width: 767px) {
    .calculator {
        width: 99%;
    }
}
#myinput{
    margin: 2px ;
    width: 100%;
    height: 64px;
    border: 1px solid purple;
    background-color: rgba(0, 128, 0, 0.336);
    font-size: 64px;
    text-align: right;
}

button{
    font-size: larger;
    height: 64px;
    width: 76px;
    margin: 6px 6px;
    background-image: radial-gradient(circle, #ffa600, #ff8c00, #ff6f00, #ff4c00, #ff0000);
    border-radius: 50%;
    border: 1px solid red;
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.3);
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.3);
    /* transform: translateY(-3px); */
  } 

  button:active{
    box-shadow: none;
    transform: translateY(5px);
  }